@import "./App.scss";

// .center {
//   display: flex;
//   height: 100vh;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin: 0 auto;
// }

.title {
  position: absolute;
  bottom: 650px;
}

.center .form {
  display: flex;
  flex-direction: column;
}

.center .form input {
  margin-bottom: 10px;
}
